<div class="tickets">
  <div class="tickets__header__wrapper">
    <app-tickets-header></app-tickets-header>
  </div>
  <div class="tickets__table__wrapper">
    <app-tickets-table [tickets]="tickets"></app-tickets-table>
  </div>
</div>
