<div class="tickets__header">
  <p class="tickets__header__title">
    Create ticket
  </p>
  <p class="tickets__header__sub-title">
    Can't find what you're looking for?
    <br>
    We’re happy to answer any questions you may have, just send us a ticket.
  </p>
  <button
    mat-raised-button
    color="primary"
    class="btn btn--primary btn--lg"
    (click)="openEditTicketDialog()"
  >
    Create a new ticket
  </button>
</div>
