<mat-form-field appearance="outline">
  <mat-select [(ngModel)]="selectedValue" [placeholder]="placeholder">

    <mat-option *ngFor="let option of options" [value]="option.value">
      {{option.label}}
    </mat-option>

  </mat-select>
</mat-form-field>
