@import "variables";

.btn {

  &.mat-button-base {
    letter-spacing: 1px;
  }

  &--primary {
    &.mat-button-base {
      background: $primary;
    }
  }

  &--lg {
    &.mat-button-base {
      line-height: 48px;
      padding: 0 35px;
      font-size: 14px;
    }
  }

  &--sm {
    &.mat-button-base {
      line-height: 30px;
      font-size: 12px;
    }
  }

  &--fluid {
    min-width: auto;
    width: 100%;
  }

  &--form {
    &.mat-button-base {
      border: 1px solid #E6E8EB;
      box-shadow: none;
      font-weight: 400;
      font-size: 12px;
      font-family: $font-default;
      line-height: 30px;
      letter-spacing: 0.25px;
    }
  }
}
