@import "variables";

html,
body {
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  font-family: $font-default;
  letter-spacing: 0.25px;
  font-weight: 400;
  background: $background-default;
}
