@import "variables";

.mat-table {
  font-family: $font-default;

  tbody {
    tr {
      &.mat-row {
        height: 64px;

        &:hover {
          background: #F9F8FF;
        }
      }
    }

    td {
      &.mat-cell {
        color: #545454;
        border-bottom-color: $background-default;
        border-bottom-width: 3px;
        min-width: 90px;
      }
    }
  }

  thead {
    background: $background-default;

    td {
      &.mat-cell {
        color: #545454;
      }
    }

    th {
      &.mat-header-cell {
        border-bottom-color: transparent;
      }
    }
  }
}
