<div class="ticket-dialog">
  <h2 mat-dialog-title class="ticket-dialog__title">
    Need help? Send a ticket
  </h2>
  <div mat-dialog-content>

    <form [formGroup]="form" *ngIf="form" class="ticket-dialog__form">
      <app-input
        placeholder="Request name"
        formControlName="title"
      ></app-input>

      <app-dropdown
        formControlName="departmentIdentifier"
        placeholder="Department"
        [options]="departmentDropdownOptions"
      ></app-dropdown>

      <app-text-editor
        formControlName="problem"
      ></app-text-editor>
    </form>

  </div>
</div>

<!--<div mat-dialog-actions>-->
<!--  <button mat-button mat-dialog-close>Close</button>-->
<!--</div>-->
