@import "variables";

.tickets__table {
  &__filters {
    display: flex;
    justify-content: space-between;

    &__toggle {
      .mat-button-base {
        display: flex;
        align-items: center;
        padding: 0;
        min-width: 79px;
      }

      .mat-icon {
        transform: scale(0.8);
        padding-left: 9px;
      }

      span {
        padding-left: 10px;
        letter-spacing: 0.25px;
        color: #545454;
      }
    }
  }

  &__title {
    font-weight: 600;
    font-size: 18px;
  }

  &__inner {
    width: 100%;
    height: 100%;
  }

  &__col {
    &--id {
      //max-width: 80px;
      //white-space: nowrap;
      //text-overflow: ellipsis;
      //overflow: hidden;

      &__copy {
        font-size: 10px;
        letter-spacing: 0.25px;
        color: $primary;
        position: relative;
        top: 3px;
        cursor: pointer;
      }
    }

    &--status {
      span {
        width: 192px;
        height: 28px;
        border-radius: 4px;
        display: flex;
        align-items: center;
        justify-content: center;
      }

      &--new {
        background: #E5F6FC;
        color: #00A9E0;
      }

      &--edited {
        background: #FEF5E8;
        color: #F79E1B;
      }
    }

    &--date {
      display: flex;
      flex-direction: column;
      font-size: 12px;

      &--days {
        font-weight: 600;
      }
    }
  }
}
