<div class="tickets__table">
  <div class="tickets__table__filters">

    <div class="tickets__table__title">
      <p>Tickets</p>
    </div>

    <div class="tickets__table__filters__toggle">
      <button mat-raised-button class="btn btn--form">
        <span>Filter</span>
        <mat-icon>filter_list</mat-icon>
      </button>
    </div>

  </div>
  <table mat-table [dataSource]="dataSource" matSort class="tickets__table__inner">

    <!-- ID Column -->
    <ng-container matColumnDef="identifier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
      <td mat-cell *matCellDef="let element" class="tickets__table__col--id">
        <span class="tickets__table__col--id__title">{{element.identifier}}</span>
        <br>
        <span class="tickets__table__col--id__copy" (click)="copyToClipboard(element.identifier)">Copy</span>
      </td>
    </ng-container>

    <!-- Created Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Created </th>
      <td mat-cell *matCellDef="let element">

        <div class="tickets__table__col--date">
          <span class="tickets__table__col--date--days">{{ element.createdAt | date: 'dd.MM.yy' }}</span>
          <span class="tickets__table__col--date--time">{{ element.createdAt | date: 'HH:mm' }}</span>
        </div>

      </td>
    </ng-container>

    <!-- Updated Column -->
    <ng-container matColumnDef="updatedAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated </th>
      <td mat-cell *matCellDef="let element">

        <div class="tickets__table__col--date">
          <span class="tickets__table__col--date--days">{{ element.updatedAt | date: 'dd.MM.yy' }}</span>
          <span class="tickets__table__col--date--time">{{ element.updatedAt | date: 'HH:mm' }}</span>
        </div>

      </td>
    </ng-container>

    <!-- Department Column -->
    <ng-container matColumnDef="departmentIdentifier">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
      <td mat-cell *matCellDef="let element">
        {{ departmentsName[element.departmentIdentifier] }}
      </td>
    </ng-container>

    <!-- Title Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
      <td mat-cell *matCellDef="let element" class="tickets__table__col--status">
        <span
          class="tickets__table__col--status--new"
          *ngIf="element.status === ticketStatus.New">
          New
        </span>
        <span
          class="tickets__table__col--status--edited"
          *ngIf="element.status === ticketStatus.Edited">
          Edited
        </span>
      </td>
    </ng-container>

    <!-- Status Details -->
    <ng-container matColumnDef="details">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Details </th>
      <td mat-cell *matCellDef="let element">
        <button
          (click)="openEditDialog(element)"
          mat-raised-button
          class="btn btn--sm btn--form"
        >
          View ticket
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="ticketsColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: ticketsColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons>
  </mat-paginator>
</div>
