<div class="container">
  <div class="content">

    <div class="editor">
      <ngx-editor-menu [editor]="editor" [toolbar]="toolbar">
      </ngx-editor-menu>
      <ngx-editor [editor]="editor" [(ngModel)]="value"></ngx-editor>
    </div>
  </div>
</div>
